<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @route.start %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @route.goal %>
</p>

<p>
  <strong>作成日時:</strong>
  <%= @route.created_at %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
